aiohttp==3.8.3
aiosignal==1.3.1
anyio==3.6.2
argcomplete==2.0.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astroid==2.12.13
asttokens==2.2.0
astunparse==1.6.3
async-timeout==4.0.2
attrs==22.1.0
Babel==2.11.0
backcall==0.2.0
barnaba==0.1.8
beautifulsoup4==4.11.1
biopython==1.80
bleach==5.0.1
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
comm==0.1.1
commonmark==0.9.1
contourpy==1.0.6
coverage==6.5.0
cryptography==38.0.4
cycler==0.11.0
Cython==0.29.32
debugpy==1.6.4
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.6
docutils==0.19
entrypoints==0.4
exceptiongroup==1.0.4
executing==1.2.0
fasteners==0.18
fastjsonschema==2.16.2
flake8==6.0.0
fonttools==4.38.0
frozenlist==1.3.3
future==0.18.2
GridDataFormats==1.0.1
gsd==2.6.1
idna==3.4
importlib-metadata==5.1.0
iniconfig==1.1.1
ipykernel==6.18.2
ipython==8.7.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
isort==5.10.1
jaraco.classes==3.2.3
jedi==0.18.2
jeepney==0.8.0
Jinja2==3.1.2
joblib==1.2.0
json5==0.9.10
jsonschema==4.17.1
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-server==1.23.3
jupyter_client==7.4.7
jupyter_core==5.1.0
jupyterlab==3.5.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
jupyterlab_server==2.16.3
keyring==23.11.0
kiwisolver==1.4.4
lazy-object-proxy==1.8.0
llvmlite==0.39.1
Mako==1.2.4
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.6.2
matplotlib-inline==0.1.6
mccabe==0.7.0
MDAnalysis==2.3.0
mdtraj==1.9.7
mistune==2.0.4
mmtf-python==1.1.3
more-itertools==9.0.0
mrcfile==1.4.3
msgpack==1.0.4
multidict==6.0.2
mypy==0.991
mypy-extensions==0.4.3
nbclassic==0.4.8
nbclient==0.7.1
nbconvert==7.2.5
nbformat==5.7.0
nest-asyncio==1.5.6
networkx==2.8.8
nglview==3.0.3
nose==1.3.7
notebook==6.5.2
notebook_shim==0.2.2
numba==0.56.4
numpy==1.23.5
packaging==21.3
pandas==1.5.2
pandocfilters==1.5.0
panedr==0.7.0
parso==0.8.3
pbr==5.11.0
pdoc3==0.10.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.3.0
pkginfo==1.8.3
platformdirs==2.5.4
pluggy==1.0.0
plumed==2.8.0
prometheus-client==0.15.0
prompt-toolkit==3.0.33
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pycodestyle==2.10.0
pycparser==2.21
pyedr==0.7.0
pyflakes==3.0.1
Pygments==2.13.0
pylint==2.15.7
pyparsing==3.0.9
pyrsistent==0.19.2
pytest==7.2.0
pytest-cov==4.0.0
python-dateutil==2.8.2
pytz==2022.6
PyYAML==6.0
pyzmq==24.0.1
qtconsole==5.4.0
QtPy==2.3.0
readme-renderer==37.3
requests==2.28.1
requests-toolbelt==0.10.1
rfc3986==2.0.0
rich==12.6.0
scikit-learn==1.1.3
scipy==1.9.3
SecretStorage==3.3.3
Send2Trash==1.8.0
six==1.16.0
sklearn==0.0.post1
slack-sdk==3.19.4
slackclient==2.9.4
sniffio==1.3.0
soupsieve==2.3.2.post1
stack-data==0.6.2
terminado==0.17.0
threadpoolctl==3.1.0
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.6
tornado==6.2
tqdm==4.64.1
traitlets==5.6.0
twine==4.0.1
typing_extensions==4.4.0
urllib3==1.26.13
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.2
widgetsnbextension==4.0.3
wrapt==1.14.1
yarl==1.8.1
zipp==3.11.0
